<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()" style="color: white">
         <mat-icon>menu</mat-icon>
    </button>
    <span class="text-white" style="font-family: 'Dancing Script', cursive;
font-size: 30px">The Debater</span>
    <img src="/assets/icons/icon.png" style="height: 50px;width: 50px" alt="">
  </mat-toolbar-row>
</mat-toolbar>
