<div class="container h-100" >
  <div class="text-center m-3 shadow h-100" >
    <div class="row d-flex justify-content-center">
      <div class="circle">
      </div>
      <div class="rectangle">
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom horizontal-center"><div class="rounded-3 bg-danger px-2" (click)="openLg(content)">Add to timeline</div> </div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add to Timeline</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<!--    apply form here-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

