.img-placeholder {
  height: 100px;
  width: 100px;
  border: dashed lightblue 2px;
}

.img-registration {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.img-spec{
  height: 50px;
  width: 50px;
}
