:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}
.line {
  vertical-align: middle;
  height: 60px;
  background-color: #02075d;
  padding-right: 10px;
  padding-bottom: 5px;
  color: white;
}

mat-drawer {
  width: 260px;
}
mat-drawer-container {
  height: 90%;
}

mat-drawer {
  background: #0f172a;
}

.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
}
.page__box {
   min-height: 120px;
   background: #1e293b;
   margin: 0 -1rem;
   font-size: 36px;
 }

.page__content {
  min-height: calc(100vh - 178px);
  border-radius: 10px;
  margin-top: -2rem;
  background: white;
  color: black;
  font-size: 2rem;
}
.page-data {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #0f172a;
}

button {
  color: white;
  outline: none;
  border: 0;
  background: transparent;
}

.mat-icon {
  vertical-align: middle;
  margin-right: 1rem;
}

.mat-list-item {
  color: #94a3b8 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
}

.mat-list-item:hover {
  color: #f2f5f7 !important;
}

.mat-list-item-content {
  border-radius: 5px;
  margin: 0 8px;
  background: #2c3344 !important;
}

.mat-list-item-content:hover {
  background: #2c3344 !important;
}

.mat-subheader {
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}

.s-font{
  font-size: 13px;
  color: #2c3344;
}

body {
  font-family: 'K2D', sans-serif;
  background:  #1e1e2f;
  letter-spacing: 1px;
}

   .container {
     max-width: 650px;
     margin: 10px auto;
   }


   p {
     font-weight: 300;
     line-height: 1.5;
     font-size: 14px;
     opacity: .8;
     color: white;
   }

   .timeline {
     position: relative;
     padding-left: 4rem;
     margin: 0 0 0 30px;
   }

.timeline::before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   width: 4px;
   height: 100%;
   background: #27293d;
 }

.timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}

.timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #4f537b;
}

i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.timeline-body {
  background: #27293d;
  border-radius: 3px;
  padding:15px 15px 15px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, .1);
}
.timeline-body::before
{
  content: '';
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}

.timeline-title {
  margin-bottom: 1.4rem;
}

.badge {
  background: #4f537b;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}


.timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: .4;
  margin-top: 16px;
  font-size: 11px;
}


.author {
  font-family: inherit;
  padding: 3em;
  text-align: center;
  width: 100%;
  color: white;
}

a:link,
a:visited {
  color: white;
}
.btn:link,
.btn:visited {
  margin-top: 1em;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 100;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: black;
  padding: 1.5em 2rem;
  border-radius: 1em;
  transition: .5s all;
}

.timeline-end
{

  margin-left: 5%;
  height: 4px;
  background: #27293d;
}

.timeline-end-icon
{
  position: absolute;
  left: -88px;
  top: 4px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #4f537b;
}

.fixed-button
{
  height: 50px;
  left: 95%;
  position: fixed;
  top: 700px;
}


