<div class="container p-5" style="font-size: 20px; max-width: 70%">
  <form [formGroup]="subtopicForm">
    <div class="mb-3">
      Topic Name
      <ng-select appearance="outline" formControlName="topicName">
        <ng-option *ngFor="let topic of topics; index as i" [value]="i">{{topic}}</ng-option>
      </ng-select>
    </div>
    <div class="mb-3">
      <label for="subtopicName" class="form-label">Sub-Topic Name</label>
      <input type="text" class="form-control" formControlName="subtopicName" id="subtopicName">
    </div>
    <div class="mb-3">
      <div class="d-flex justify-content-center">
        <div class="text-matte" [ngClass]="{'img-placeholder':!subtopicImageURL}">
          <img src="{{subtopicImageURL}}" *ngIf="subtopicImage" class="rounded img-registration" alt="">
          <span class="material-icons text-secondary" *ngIf="!subtopicImageURL">photo</span>
          <file-upload (onFileUploaded)="fileUploaded($event)"></file-upload>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input formControlName="description" type="text" class="form-control" id="description">
    </div>
    <div class="mb-3">
      <label for="dateRelatedToTopic">Date Related to topic</label>
      <input class="form-control" placeholder="yyyy-mm-dd" formControlName="dateRelatedToTopic" id="dateRelatedToTopic"
             name="dp" ngbDatepicker [dayTemplate]="customDay" #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!subtopicForm.valid"
            (click)="submit()">Submit</button>
  </form>

  <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled" let-focused="focused">
  <span class="custom-day" [class.weekend]="isWeekend(date)" [class.focused]="focused"
        [class.bg-primary]="selected" [class.hidden]="date.month !== currentMonth" [class.text-muted]="disabled">
    {{ date.day }}
  </span>
  </ng-template>
</div>
