<app-header (toggleSidebarForMe)="sideBarToggle()"></app-header>
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-side-nav [menuList]="menuList" (onMenuSelected)="menuSelected($event)"></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid">
      <div class="page__box"></div>
      <div class="page__content shadow p-3" style="max-width: 80%; margin-left: 10%; margin-bottom: 5%">
        <div>
          <app-card-sub-topic [heading]="value" style="text-align: center"></app-card-sub-topic>
          <div class="col-12" *ngIf="!(value=='Add Sub-topic')" style="padding: 20px">
            <div class="card p-2 mb-4 shadow" *ngFor="let list of subtopic"
                 style="border-radius: 10px; background-color: #cbcbcb ">
              <div class="d-flex justify-content-between">
                <div style="font-size: 20px">
                  <div><b>{{list.subtopicName}}</b></div>
                  <div style="font-size: 14px">Date added : {{list.dateAdded.toDate() | date:'mediumDate'}}</div>
                </div>
                <img alt="" class="img-spec" src="{{list.imageUrl}}">
              </div>
              <div>
                <h6><b>{{list.description}}</b></h6>
                <h5></h5>
              </div>
              <div class="d-flex justify-content-between s-font">
                <div [routerLink]="[ '/timeline',list.id]" (click)="openTimeline()" style="cursor: pointer">View Full Article</div>
                <span class="material-icons" [routerLink]="[ '/timeline',list.id]" (click)="openTimeline()" style="cursor: pointer">keyboard_arrow_down</span>
              </div>

            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
