<app-header (toggleSidebarForMe)="sideBarToggle()"></app-header>
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-side-nav [menuList]="menuList" (onMenuSelected)="menuSelected($event)"></app-side-nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container-fluid">
      <div class="page__box"></div>
      <div class="page__content shadow p-3" style="max-width: 80%; margin-left: 10%; margin-bottom: 5%">
        <div>
          <app-card-sub-topic [heading]="value" style="text-align: center"></app-card-sub-topic>
          <div class="col-12" *ngIf="!(value=='Add Sub-topic')" style="margin-top: 20px">
            <article class="postcard dark blue" *ngFor="let list of subtopic">
              <a class="postcard__img_link" >
                <img (click)="openTimeline(list.id)" class="postcard__img" src="{{list.imageUrl}}" alt="Image Title" >
              </a>
              <div class="postcard__text">
                <h1 role="button" class="postcard__title" (click)="openTimeline(list.id)">{{list.subtopicName}}</h1>
                <div class="postcard__subtitle small">
                  <time datetime="2020-05-25 12:00:00">
                    <i class="fas fa-calendar-alt mr-2"></i>Date added : {{list.dateAdded.toDate() | date:'mediumDate'}}
                  </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt"> {{list.description}}</div>
                <div class="d-flex justify-content-between s-font">
                  <div class="a-link" (click)="openTimeline(list.id)" style="cursor: pointer">View Full Article</div>
                  <span class="material-icons a-link" (click)="openTimeline(list.id)" style="cursor: pointer">keyboard_arrow_down</span>
                </div>
              </div>
            </article>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
